.App{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  width: 100%;
  height: 1000px;
  background: #00acff;
background: linear-gradient(90deg,#00acff 50%, #0041ff 80%);
background: -webkit-linear-gradient(90deg,#00acff 50%, #0041ff 80%);
background: -moz-linear-gradient(90deg,#00acff 50%, #0041ff 80%);
}



.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  width: 15rem;
  height: 30rem;
  background-color: black;
  border-radius: 1rem;
  box-shadow: -1px -5px 29px 11px rgba(0,3,0,0.74);
-webkit-box-shadow: -1px -5px 29px 11px rgba(0,3,0,0.74);
-moz-box-shadow: -1px -5px 29px 11px rgba(0,3,0,0.74);
}

.color__verde {
  border: 1px solid;
  border-radius: 100%;
  width: 90%;
  height: 10rem;
  background-color: green ;
  box-shadow: -2px 0px 28px 5px rgba(0,0,0,0.99) inset;
-webkit-box-shadow: -2px 0px 28px 5px rgba(0,0,0,0.99) inset;
-moz-box-shadow: -2px 0px 28px 5px rgba(0,0,0,0.99) inset;


}
.color__amarillo {
  border: 1px solid;
  border-radius: 100%;
  width: 90%;
  height: 10rem;
  background-color: yellow ;
  box-shadow: -2px 0px 28px 5px rgba(0,0,0,0.99) inset;
  -webkit-box-shadow: -2px 0px 28px 5px rgba(0,0,0,0.99) inset;
  -moz-box-shadow: -2px 0px 28px 5px rgba(0,0,0,0.99) inset;
}
.color__rojo {
  border: 1px solid;
  border-radius: 100%;
  width: 90%;
  height: 10rem;
  background-color: red ;
  box-shadow: -2px 0px 28px 5px rgba(0,0,0,0.99) inset;
  -webkit-box-shadow: -2px 0px 28px 5px rgba(0,0,0,0.99) inset;
  -moz-box-shadow: -2px 0px 28px 5px rgba(0,0,0,0.99) inset;
  
}
.color__default {
  border: 1px solid;
  border-radius: 100%;
  width: 90%;
  height: 10rem;
  background-color: grey ;

}